<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
  <insert id="joinMember" parameterType="mdto">
     <selectKey keyProperty="memseq" resultType="int" order="BEFORE">
       SELECT NVL(MAX(MEMSEQ),0)+1 memseq FROM MEMTB
     </selectKey>
      INSERT INTO 
      MEMTB(MEMID
           , MEMSEQ
           , MEMNAME
           , MEMTEL
           , MEMBIRTH
           , REGDATE
           , MEMEMAIL
           , MEMGENDER
           , PASSWD)
      VALUES(#{memid}
           , #{memseq}
           , #{memname}
           , #{memtel}
           , #{membirth}
           , SYSDATE
           , #{mememail}
           , #{memgender}
           , #{passwd})
  </insert>

 <select id="memberList" parameterType="hashmap" resultType="mdto">
   SELECT A.*                                                          
   FROM (SELECT ROWNUM RR, REMEMBER.*                               
           FROM  (SELECT MEMID, MEMSEQ, MEMNAME, MEMTEL, MEMBIRTH, 
           			REGDATE, MEMEMAIL, MEMGENDER, PASSWD                     
                    FROM MEMTB                                     
                    ORDER BY MEMSEQ DESC) REMEMBER) A
    <choose>
  		  <when test="memid!=null and memid!=0">
   			 where MEMID = #{memid}
   		 </when>
<!--     <otherwise> -->
<!--     	<if test="start!=null and start!=0"> -->
<!--    			 WHERE A.RR BETWEEN #{start} AND #{end}                                     -->
<!--    		</if> -->
<!--     </otherwise>                -->
    </choose>               
 </select>

<select id="allCount" resultType="int">
	SELECT COUNT(memid) ALLCNT FROM MEMTB
</select>



</mapper>

