<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybtis.org//DTD Config 3.0//EN"
"HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="defaultExecutorType" value="REUSE"/>
	</settings>

	<!-- aliaes -->
	<typeAliases>
		<typeAlias alias="hashMap" type="java.util.HashMap"/>
		<typeAlias alias="map" type="java.util.Map"/>
		<typeAlias alias="mdto" type="kr.co.hs.member.dto.MemberDTO"/>
		<typeAlias alias="pdto" type="kr.co.hs.member.dto.PageDTO"/>
	</typeAliases>
</configuration>
